ALLOWED_ORIGINS=*
PORT=8000
DB_HOST='your-host'
DB_DATABASE='your-database'
DB_USER='your-database-username'
DB_PASSWORD='your-database-password'
DB_PORT=5432
ACCESS_TOKEN_SECRET=''
ACCESS_TOKEN_EXPIRY='15m'
REFRESH_TOKEN_SECRET=''
REFRESH_TOKEN_EXPIRY='1d'
FRONTEND_URL=''
ENVIRONMENT=''